<!--partials are components that you can reuse on different pages -->
<!--note that we namespace our context by starting with partials.weather -->
<!--since we want to be able to use the partial on any page 

            EXAMPLE

<div class="weatherWidget">
    {{#each partials.weather.locations}}
        <div class="location">
            <h3>{{name}}</h3>
            <a href="{{forcastUrl}}">
                <img src="{{iconUrl}}" alt="{{weather}}">
                {{weather}}, {{temp}}
            </a>
        </div>
        {{/each}}
        <small>Source: <a href="http://www.wunderground.com">Weather Underground</a></small>
</div>
-->



<div class='pollsWidget'>
    
    
</div>






